*{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
}
a{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.16);
    border-radius: 50%;
}

.img_grid{
    display: grid;
    grid-template-columns: 50% 50%;
}